<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css"/>
    <title>Customers</title>
</head>
<body>
<div layout:fragment="content">
    <div class="p-3">
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="c : ${customers}">
                        <!-- Chaque ligne de la table représente un client -->
                        <td th:text="${c.id}"></td>
                        <td th:text="${c.name}"></td>
                        <td th:text="${c.email}"></td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>


</div>

</body>
</html>